@font-face{
	font-family: 'Digital-Font';
	src: url('fonts/digital-7.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.enferlazt-clock{
	width: 170px;
	height: 170px;
	margin: 50px auto;
}
.enferlazt-clock > .seconds, .enferlazt-clock > .minutes, .enferlazt-clock > .hours{
	position: absolute;
}
.enferlazt-clock[digital] > .hours, .enferlazt-clock[digital] > .minutes, .enferlazt-clock[digital] > .seconds, .enferlazt-clock[digital] > .delimiter{
	font-family: 'Digital-Font';
	color: green;
	font-size: 48px;
	max-width: 20px;
	top: 63.5px;
	position: relative;
}
.enferlazt-clock[digital] > .hours{
	margin-left: 15px;
}
.enferlazt-clock[digital] > .delimiter{
	margin-left: -5px;
	margin-right: -10px;
}
.enferlazt-clock[digital] > .minutes{
	margin-left: 5px;
}
.enferlazt-clock[digital] > .seconds{
	font-size: 32px;
	margin-left: 13px;
}
.enferlazt-clock-caption{
	margin: auto;
	text-align:  center;
	width: 170px;
	font-size: 24px;
	align-items: center;
}
.enferlazt-clock[data-map = "enable"] + p:hover{
	cursor: pointer;
	text-decoration: underline;
}
iframe {
	width: 170px;
	height: 170px;
}