@font-face{
	font-family: 'Digital-Font';
	src: url('fonts/digital-7.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

enferlazt-clock {
	position: relative;
	display: inline-block;
	margin: auto;
}

enferlazt-clock > .enferlazt-background{
	width: 170px;
	height: 170px;
}

enferlazt-clock[type = 'analog'] > .enferlazt-seconds,
enferlazt-clock[type = 'analog'] > .enferlazt-minutes,
enferlazt-clock[type = 'analog'] > .enferlazt-hours{
	top: 0;
	position: absolute;
}

enferlazt-clock[type = 'analog'] > .enferlazt-seconds{
	z-index: 3;
}

enferlazt-clock[type = 'analog'] > .enferlazt-minutes{
	z-index: 1;
}

enferlazt-clock[type = 'analog'] > .enferlazt-hours{
	z-index: 2;
}

enferlazt-clock[type = 'analog'] > .enferlazt-seconds > .enferlazt-seconds-img{
	animation: rotate 1s;
}

enferlazt-clock[type = 'digital'] > .enferlazt-digital{
	position: absolute;
	top: 0;
}

enferlazt-clock[type = 'digital'] > .enferlazt-digital > .enferlazt-hours,
enferlazt-clock[type = 'digital'] > .enferlazt-digital > .enferlazt-minutes,
enferlazt-clock[type = 'digital'] > .enferlazt-digital > .enferlazt-seconds,
enferlazt-clock[type = 'digital'] > .enferlazt-digital > .enferlazt-delimiter{
	font-family: 'Digital-Font';
	color: green;
	font-size: 48px;
	max-width: 20px;
	line-height: 173.5px;
}

enferlazt-clock[type = 'digital'] > .enferlazt-digital > .enferlazt-hours{
	margin-left: 15px;
}

enferlazt-clock[type = 'digital'] > .enferlazt-digital > .enferlazt-delimiter{
	margin-left: -5px;
	margin-right: -10px;
}

enferlazt-clock[type = 'digital'] > .enferlazt-digital > .enferlazt-minutes{
	margin-left: 5px;
}

enferlazt-clock[type = 'digital'] > .enferlazt-digital > .enferlazt-seconds{
	font-size: 32px;
	margin-left: 13px;
}

enferlazt-clock .enferlazt-caption{
	position: relative;
	margin: 10px auto;
	text-align: center;
	width: 170px;
	font-size: 24px;
	z-index: 5;
}

enferlazt-clock[map = 'true'] > .enferlazt-caption:hover{
	cursor: pointer;
	text-decoration: underline;
}

enferlazt-clock .enferlazt-iframe {
	position: absolute;
	display: none;
	width: 170px;
	height: 170px;
	top: 0;
	z-index: 5;
}

@keyframes rotate{
	70%{
		transform: rotateZ(0deg);
	}
	95%, 100%{
		transform: rotateZ(6deg);
	}
}